.root {
    -fx-font-size: 12px;
    -fx-font-family: sans-serif;
    /*-fx-background-image: url("../img/bg.jpg");*/
    -fx-background-color: #222222;
    -fx-background-size: 100%;
    -fx-background-position: center center;
}

* {
	-fx-text-fill: #ffffff;
	/*-fx-border-width: 0.5;
	-fx-border-color: red;*/
	/*-fx-background-color: rgba(255, 255, 255, 0.1);*/
}

TreeView .tree-cell {
	-fx-background-color: black;
}

Button {
	-fx-border-color: black;
	-fx-background-color: #333;
	-fx-cursor: hand;
}

Button:hover {
	-fx-background-color: #444;
}

Button:active {
	-fx-background-color: #222;
}

ComboBox {
	-fx-border-color: black;
	-fx-background-color: #333;
	-fx-cursor: hand;
}

ComboBox:hover {
	-fx-background-color: #444;
}

ComboBox .list-cell {    
    -fx-background-color: #333;    
    -fx-text-fill: #fff;
}

ComboBox .list-cell:hover {    
    -fx-background-color: #444;    
    -fx-text-fill: #fff;
}

.header-section {
    -fx-padding: 10px;
    -fx-font-size: 20px;
    -fx-background-color: teal;
}

.header-section Label {
    -fx-text-fill: #ffffff;
    -fx-padding: 10px;
}

.header-section .btn-padbox {
	-fx-padding: 2;
}

#applyBtn,#revertBtn {
	-fx-min-width: 150px;
    -fx-pref-width: 150px;
    -fx-max-width: 150px;
    -fx-font-size: 12;
}

#importBtn,#exportBtn {
	-fx-min-width: 80px;
    -fx-pref-width: 80px;
    -fx-max-width: 80px;
    -fx-font-size: 12;
}

#header-text {
	-fx-background-image: url("../img/logo.png");
	-fx-background-repeat: no-repeat;
	-fx-background-position: 0 center;
	-fx-padding: 15 0 15 90;
}

#account {
    -fx-background-color: transparent;
    -fx-text-fill: #ffffff;
    -fx-font-size: 16px;
    -fx-cursor: hand;
}

.sidebar-section {
    -fx-min-width: 200px;
    -fx-pref-width: 200px;
    -fx-max-width: 200px;
    -fx-border-width: 1;
    -fx-border-color: transparent #E8E8E8 transparent transparent;
    -fx-background-color: linear-gradient(from 25% 25% to 25% 100%, teal, transparent);
}

.sidebar-section Label {
    -fx-font-size: 14px;
	-fx-background-repeat: no-repeat;
	-fx-background-position: 15px center;
    -fx-padding: 10 15 10 45;
    -fx-border-width: 1;
    -fx-border-color: transparent transparent #E8E8E8 transparent;
    -fx-min-width: 198px;
    -fx-pref-width: 198px;
    -fx-max-width: 198px;
	-fx-cursor: hand;
}

.sidebar-section Label:hover {
    -fx-background-color: rgba(0, 173, 197, 0.33);
}

.sidebar-section Label.selected {
	-fx-background-color: rgba(0, 173, 197, 1);
}

.sidebar-section Label.icon-keyboard {
	-fx-background-image: url("../img/keyboard.png");
}

.sidebar-section Label.icon-script {
	-fx-background-image: url("../img/script.png");
}

.sidebar-section Label.icon-rgb-adjust {
	-fx-background-image: url("../img/adjust.png");
}

.content-section {
    -fx-padding: 10 20 10 20;
    -fx-wrap-text: true;
    -fx-border-color: #E8E8E8 transparent transparent transparent;
    -fx-min-width: 1080px;
}

#content-header {
    -fx-font-size: 18px;
    -fx-padding: 0 0 10 0;
    -fx-font-weight: 700;
}

#content {
    -fx-wrap-text: true;
    -fx-font-size: 16px;
}

#footer-section {
    -fx-padding: 5 5 5 5;
    -fx-border-width: 1;
    -fx-border-color: #E8E8E8 transparent transparent transparent;
}

.busy-panel {
	-fx-background-color: rgba(9, 151, 171, 0.6);
	-fx-min-width: 1280px;
    -fx-pref-width: 1280px;
    -fx-max-width: 1280px;
    -fx-min-height: 720px;
    -fx-pref-height: 720px;
    -fx-max-height: 720px;
}

.busy-panel Label {
	-fx-font-size: 50;
	-fx-effect: dropshadow(gaussian, rgba(0,0,0,0.5), 5,5,5,5);
	-fx-font-family: "IBM 3270";
}

