
.slot-list Button {
	-fx-min-width: 150;
}

.slot-list Button.current {
	-fx-background-color: #111111;
	-fx-border-color: transparent;
}

.slot-list Button.modified {
    -fx-font-weight: bold;
    -fx-font-style: italic;
}

#execCap,#instCount {
	-fx-font-family: "IBM 3270 Narrow";
    -fx-font-size: 16;
}
