
.key-config {
	-fx-padding: 30 10 20 10;
}

.key-config VBox {
	-fx-padding: 0 5 0 5;
}

.keyinfo-entry {
	-fx-font-family: "IBM 3270";
	-fx-font-size: 17;
	-fx-padding: 2 0 0 0;
}

.keyinfo-entry.nopad {
	-fx-padding: 0;
}

.keyinfo-title {
	-fx-font-family: "IBM 3270";
	-fx-font-size: 26;
}

.key-info-box {
	-fx-min-width: 420;
	-fx-border-color: beige;
	-fx-border-width: 3;
	-fx-border-radius: 4 4 4 4;
	-fx-background-color: #111111;
	-fx-padding: 8 10 10 10;
}

.key-info-box Label {
	-fx-text-fill: #ffc200;
	-fx-effect: dropshadow(gaussian, #ffc200, 0,0,0,1);
}

.key-config-box {
	-fx-min-width: 350;
}

.large-key-holder {
	/*-fx-border-color: blue;*/
	/*-fx-background-color: red;*/
	
	-fx-padding: 12 0 0 0;
	
	-fx-min-width: 215;
    -fx-pref-width: 215;
    -fx-max-width: 215;
	
	-fx-min-height: 215;
    -fx-pref-height: 215;
    -fx-max-height: 215;
}

.profile-config {
	-fx-min-height: 60;
    -fx-pref-height: 60;
    -fx-max-height: 60;
}

TextField {
	-fx-background-color: #222222;
	-fx-border-width: 1;
	-fx-border-color: teal;
	-fx-font-family: "IBM 3270";
	-fx-font-size: 20;
}

ListView {
    -fx-background-color: #222222;
    -fx-font-family: "IBM 3270";
    -fx-font-size: 14;
    -fx-border-width: 1;
    -fx-border-color: #333333;
}

.list-cell {
    -fx-background-color: #222222;
}

.list-cell:filled:selected:focused, .list-cell:filled:selected {
    -fx-background-color: teal;
    -fx-text-fill: white;
}

.list-cell:even {
    -fx-background-color: #444444;
}

.list-cell:hover {
    -fx-opacity: 0.8;
}

.profile-config Label {
	-fx-font-family: "IBM 3270";
	-fx-font-size: 20;
}

.profile-config Button {
	-fx-font-family: "IBM 3270";
	-fx-font-size: 16;
	-fx-min-height: 45;
    -fx-pref-height: 45;
    -fx-max-height: 45;
}

.profile-config Button.longbtn {
	-fx-min-width: 200;
    -fx-pref-width: 200;
}

#profCurrentId {
	-fx-pref-width: 22;
    -fx-max-width: 22;
    -fx-padding: 7 0 7 0;
    -fx-border-style: solid dotted solid solid;
}

#profCurrentName {
	-fx-padding: 7 0 7 5;
	-fx-border-width: 1 1 1 0;
	
	-fx-min-width: 230;
    -fx-pref-width: 230;
}

.key-suggestions-box {
    -fx-max-height: 160px;
}
