
Label {
	-fx-font-family: "IBM 3270 Narrow";
	-fx-text-alignment: center;
}

.size-single {
	-fx-min-width: 40;
    -fx-pref-width: 40;
    -fx-max-width: 40;
	
	-fx-min-height: 40;
    -fx-pref-height: 40;
    -fx-max-height: 40;
}

.large.size-single {
	-fx-min-width: 100;
    -fx-pref-width: 100;
    -fx-max-width: 100;
	
	-fx-min-height: 100;
    -fx-pref-height: 100;
    -fx-max-height: 100;
}

.size-medium {
	-fx-min-width: 57.5;
    -fx-pref-width: 57.5;
    -fx-max-width: 57.5;
	
	-fx-min-height: 40;
    -fx-pref-height: 40;
    -fx-max-height: 40;
}

.large.size-medium {
	-fx-min-width: 143.75;
    -fx-pref-width: 143.75;
    -fx-max-width: 143.75;
	
	-fx-min-height: 100;
    -fx-pref-height: 100;
    -fx-max-height: 100;
}

.size-large {
	-fx-min-width: 75;
    -fx-pref-width: 75;
    -fx-max-width: 75;
	
	-fx-min-height: 40;
    -fx-pref-height: 40;
    -fx-max-height: 40;
}

.large.size-large {
	-fx-min-width: 187.5;
    -fx-pref-width: 187.5;
    -fx-max-width: 187.5;
	
	-fx-min-height: 100;
    -fx-pref-height: 100;
    -fx-max-height: 100;
}

.size-large-vertical {
	-fx-min-width: 40;
    -fx-pref-width: 40;
    -fx-max-width: 40;
	
	-fx-min-height: 81;
    -fx-pref-height: 81;
    -fx-max-height: 81;
}

.large.size-large-vertical {
	-fx-min-width: 100;
    -fx-pref-width: 100;
    -fx-max-width: 100;
	
	-fx-min-height: 202.5;
    -fx-pref-height: 202.5;
    -fx-max-height: 202.5;
}

.size-long {
	-fx-min-width: 82;
    -fx-pref-width: 82;
    -fx-max-width: 82;
	
	-fx-min-height: 40;
    -fx-pref-height: 40;
    -fx-max-height: 40;
}

.large.size-long {
	-fx-min-width: 205;
    -fx-pref-width: 205;
    -fx-max-width: 205;
	
	-fx-min-height: 100;
    -fx-pref-height: 100;
    -fx-max-height: 100;
}

.size-enter {
	-fx-min-width: 57.5;
    -fx-pref-width: 57.5;
    -fx-max-width: 57.5;
	
	-fx-min-height: 82;
    -fx-pref-height: 82;
    -fx-max-height: 82;
}

.large.size-enter {
	-fx-min-width: 143.75;
    -fx-pref-width: 143.75;
    -fx-max-width: 143.75;
	
	-fx-min-height: 205;
    -fx-pref-height: 205;
    -fx-max-height: 205;
}

.size-space {
	-fx-min-width: 313;
    -fx-pref-width: 313;
    -fx-max-width: 313;
	
	-fx-min-height: 40;
    -fx-pref-height: 40;
    -fx-max-height: 40;
}

.large.size-space {
	-fx-min-width: 205;
    -fx-pref-width: 205;
    -fx-max-width: 205;
	
	-fx-min-height: 100;
    -fx-pref-height: 100;
    -fx-max-height: 100;
}

.key-view-root {
	-fx-border-width: 1;
	-fx-border-color: teal;
	-fx-cursor: hand;
}

.selected.key-view-root {
	-fx-border-color: red;
	-fx-cursor: default;
}

.key-view-root.keytypeGeneric {
	-fx-background-color: rgba(200,200,200,0.2);
}

.key-view-root.keytypeUnavailable {
	-fx-background-color: rgba(200,200,200,0.2);
	-fx-opacity: 0.3;
}

.key-view-root.keytypeGeneric:hover {
	-fx-border-width: 1;
	-fx-background-color: rgba(200,200,200,0.4);
}

.selected.key-view-root.keytypeGeneric:hover {
	-fx-background-color: rgba(200,200,200,0.2);
}

.key-view-root.keytypeUnmapped:hover {
	-fx-background-color: rgba(200,200,200,0.2);
}

.key-view-root.keysizeEnter {
	-fx-border-color: transparent;
	-fx-background-color: transparent;
}

.key-view-root.keysizeEnter:hover {
	-fx-background-color: transparent;
}

.key-view-letter {
	-fx-font-size: 20;
}

.large .key-view-letter {
	-fx-font-size: 50;
}

.key-view-enter-top-piece {
	-fx-min-width: 57.5;
    -fx-pref-width: 57.5;
    -fx-max-width: 57.5;
	
	-fx-min-height: 40;
    -fx-pref-height: 40;
    -fx-max-height: 40;

	-fx-border-color: teal teal linear-gradient(to right, teal 0%, teal 32%, transparent 32%, transparent 100%) teal;
}

.selected .key-view-enter-top-piece {
	-fx-border-color: red red linear-gradient(to right, red 0%, red 32%, transparent 32%, transparent 100%) red;
}

.large .key-view-enter-top-piece {
	-fx-min-width: 143.75;
    -fx-pref-width: 143.75;
    -fx-max-width: 143.75;
	
	-fx-min-height: 100;
    -fx-pref-height: 100;
    -fx-max-height: 100;
}

.key-view-enter-right-piece {
	-fx-min-width: 40;
    -fx-pref-width: 40;
    -fx-max-width: 40;
	
	-fx-min-height: 42;
    -fx-pref-height: 42;
    -fx-max-height: 42;
	
	-fx-border-color: transparent teal teal teal;
}

.selected .key-view-enter-right-piece {
	-fx-border-color: transparent red red red;
}

.large .key-view-enter-right-piece {
	-fx-min-width: 100;
    -fx-pref-width: 100;
    -fx-max-width: 100;
	
	-fx-min-height: 105;
    -fx-pref-height: 105;
    -fx-max-height: 105;
}

.key-view-root.keytypeUnmapped:hover .key-view-enter-top-piece {
	-fx-background-color: rgba(200,200,200,0.2);
}

.key-view-root.keytypeUnmapped:hover .key-view-enter-right-piece {
	-fx-background-color: rgba(200,200,200,0.2);
}

.key-view-root.keytypeGeneric .key-view-enter-top-piece {
	-fx-background-color: rgba(200,200,200,0.2);
}

.key-view-root.keytypeGeneric .key-view-enter-right-piece {
	-fx-background-color: rgba(200,200,200,0.2);
}

.key-view-root.keytypeUnavailable .key-view-enter-top-piece {
	-fx-background-color: rgba(200,200,200,0.2);
	-fx-opacity: 0.3;
}

.key-view-root.keytypeUnavailable .key-view-enter-right-piece {
	-fx-background-color: rgba(200,200,200,0.2);
	-fx-opacity: 0.3;
}

.key-view-root.keytypeGeneric:hover .key-view-enter-top-piece {
	-fx-background-color: rgba(200,200,200,0.4);
}

.key-view-root.keytypeGeneric:hover .key-view-enter-right-piece {
	-fx-background-color: rgba(200,200,200,0.4);
}

.selected.key-view-root.keytypeGeneric:hover .key-view-enter-top-piece {
	-fx-background-color: rgba(200,200,200,0.2);
}

.selected.key-view-root.keytypeGeneric:hover .key-view-enter-right-piece {
	-fx-background-color: rgba(200,200,200,0.2);
}

.selected.key-view-root.keytypeGeneric.size-enter:hover {
	-fx-background-color: transparent;
}

.key-view-root.keytypeUnavailable Label, .key-view-root.keytypeUnmapped Label {
	visibility: hidden;
}

Label.longtext {
	-fx-font-family: "IBM 3270 Narrow";
	-fx-font-size: 12;
}

.large Label.longtext {
	-fx-font-size: 30;
}
