    
.code-area {
    -fx-background-color: #111111;
}

.text {
    -fx-fill: #ffc200;
    -fx-font-family: "IBM 3270";
    -fx-font-size: 16;
}

.caret {
    -fx-stroke: #ffc200;
    -fx-stroke-width: 50;
}

.keyword {
    -fx-fill: #edcc64;
}

/*.paren {
    -fx-fill: orange;
}

.brace {
    -fx-fill: #888888;
}

.bracket {
    -fx-fill: #888888;
}

.semicolon {
    -fx-fill: #cc9b00;
}

.string {
    -fx-fill: green;
} */

.comment {
    -fx-fill: #ffe38a;
}

*:has-caret .paragraph-text {
    -fx-background-color: #333333;
}

.lineno {
    -fx-background-color: black;
    -fx-fill: #aaaaaa;
    -fx-border-color: transparent #444444 transparent transparent;
}

*:has-caret .lineno {
    -fx-background-color: #333333;
}
