
Label {
	-fx-background-color: rgba(255, 255, 255, 0.2);
	-fx-border-color: black;
	-fx-padding: 10 20 10 20;
	-fx-font-size: 16;
	-fx-font-family: "IBM 3270 Narrow";
	-fx-cursor: hand;
}

Label:hover {
	-fx-background-color: rgba(0, 128, 128, 0.33);
}

Label.selected {
	-fx-text-fill: black;
	-fx-background-color: rgb(0, 128, 128);
	-fx-cursor: default;
}
